body {
    font-family: Arial, sans-serif;
    background-color: rgb(171, 138, 202);
    margin: 0;
    padding: 0;
}



.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 50px;
}
.profile-image {
    display: block;
    margin: 0 auto;
    width: 200px;
    height: 200px;
    border-radius: 100%;
    overflow: hidden;
    margin-bottom: 20px;
}
.profile-image img {
    width: 100%;
    height: auto;
}
.profile-info {
    text-align: center;
}
.profile-info h1 {
    margin-top: 0;
    color: #333;
}
.profile-info p {
    color: #666;
    margin-bottom: 20px;
}
