/*Aqui começa o body*/

body {


    font-family: Arial, sans-serif;
    background-color: rgb(142, 100, 182);
    margin: 0;
    padding: 0;
 
    transition: background-color 0.5s ease;
    }
    .dark-mode {
        background-color: #202020;
        color: #9e34db;
        
    }
    .dark-mode button {
        background-color: #1b1b1b;
        color: #9a33d6;
        
        
}

/*estiliza nossos botões*/

button {
    background-color: plum;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 15px 20px;
    cursor: pointer;
}
button:hover {

    background-color: #7c2070;
   }
   

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

/*Aqui vamos ter a estilização das imagens e dos conteudos*/

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}
.card {
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
   
}
.card:hover {
    transform: translateY(-5px);
}
.card img {
    width: 100%;
    height: auto;
    border-bottom: 1px solid #ddd;
}
.card-content {
    padding: 15px;
}
.card-title {
    font-size: 18px;
    margin: 0 0 10px;
}
.card-description {
    font-size: 14px;
    color: #555;
    line-height: 1.5;
}

