body {
   
   
    font-size: 15pt;
    font-family: Arial, sans-serif;
    background-color: rgb(171, 138, 202);
    margin: 0;
    padding: 0;
    

  transition: background-color 0.5s ease;
}

*.bts{
display:flex;
justify-content: center;

}




.dark-mode button {
    background-color: #1b1b1b;
    color: #9a33d6;
}

.dark-mode {
    background-color: #202020;
    color: #9e34db;
        
}





button {
    background-color: plum;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 15px 20px;
    cursor: pointer;


}
button:hover {

 background-color: #7c2070;
}

p, h1{
   margin: 10px; 
}




.page {
   
    transition: transform 0.5s ease;
}

.page:not(:first-child) {
    transform: translateX(100%);
}





.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 50px;
}
.profile-image {
    display: block;
    margin: 0 auto;
    width: 200px;
    height: 200px;
    border-radius: 100%;
    overflow: hidden;
    margin-bottom: 20px;
}
.profile-image img {
    width: 100%;
    height: auto;
}
.profile-info {
    text-align: center;
}
.profile-info h1 {
    margin-top: 0;
    color: #333;
}
.info p {
    color: #666;
    margin-bottom: 20px;

}


